{% load static %}
<h1 class="tv-symbol-header__first-line">Ethereum / U.S. Dollar</h1>
<div class="tv-symbol-price-quote__row js-last-price-block-value-row">
			<div class="tv-symbol-price-quote__value js-symbol-last">
              <h2>3860</h2></div>
		</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#" >Trading</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#"  id="daily">volume <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="_daily"  id="trading">trading</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PredictPrice</a>
      </li>
    </ul>
  </div>
</nav>
<script src=" {% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src=" {% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>