{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Nextcoin">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>Jamejam Crypto Trading</title>
    <!-- Google font file -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,900" rel="stylesheet">
    <!-- Favicon-->
    <link rel="stylesheet" href="{% static '/assets/main.css' %}">
    <!-- Stylesheet-->
    <link rel="stylesheet" href="{% static '/trading/css/bootstrap.min.css' %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static '/trading/css/animate.min.css' %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{%static '/trading/css/owl.carousel.min.css' %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static '/trading/css/jquery.jConveyorTicker.min.css' %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{%static '/trading/css/jquerysctipttop.css' %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static '/trading/css/style.css' %}" type="text/css" media="all"/>
</head>
<body>
{% block content %}
replace me
{% endblock %}
</body>
<script src="{% static '/trading/js/jquery.min.js' %}"></script>
<script src="{% static '/trading/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/trading/js/owl.carousel.min.js' %}"></script>
<script src="{% static '/trading/js/jquery.jConveyorTicker.js' %}"></script>
<script src="{% static '/trading/js/script.js' %}"></script>
<script src="{% static '/trading/js/pwa.js' %}"></script>
<script src="{% static '/trading/js/jquery.min.js' %}"></script>
<script src="{% static '/trading/js/bootstrap.bundle.min.js' %}"></script>
<!-- Candlestick Charts -->
<script src="{% static '/trading/js/apexcharts.js' %}"></script>
<script src="{% static '/trading/js/owl.carousel.min.js' %}"></script>
<script src="{% static '/trading/js/jquery.jConveyorTicker.js' %}"></script>
<script src="{% static '/trading/js/script.js' %}"></script>
<script src="{% static '/trading/js/candlestick.js' %}"></script>
<script src="{% static '/trading/js/pwa.js' %}"></script>
{% block script %}
{% endblock %}
</html>