<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Nextcoin">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>جام جم </title>
    <!-- Google font file -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,900" rel="stylesheet">
    <!-- Favicon-->
    <link rel="icon" href="img/favicon.png">
    <!-- Stylesheet-->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/animate.min.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/jquery.jConveyorTicker.min.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/jquerysctipttop.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all"/>
    <!-- Web App Manifest-->
    <link rel="manifest" href="manifest.json">
</head>
<body>
<!-- Page loader -->
<!-- Main Section -->
<main class="main-content">
    <div class="container">
        <div class="market-item">
            <h4 class="main-title py-4">   بازارها</h4>
            <div class="market-card">
                <div class="form-group mb-4">
                    <input type="text" class="form-control" placeholder="جستجو کردن">
                </div>
                <ul class="market-list">
                    <li class="list-item mb-0 pb-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <img src="img/icons/bitcoin.png" alt="coin image">
                                <div class="ms-3">
                                    <h5 class="coin-name">Bitcoin</h5>
                                    <p class="mb-0 text-gray">Vol 7,432</p>
                                </div>
                            </div>
                            <div>
                                <span class="text-success fw-bold">0.00250 </span>
                                <p class="mb-0">$25000</p>
                            </div>
                            <div>
                                <a href="tradingview.html" class="btn btn-success btn-sm">تجارت</a>
                            </div>
                        </div>
                    </li>
                    <li class="list-item mb-0 pb-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <img src="img/icons/ethereum.png" alt="coin image">
                                <div class="ms-3">
                                    <h5 class="coin-name">ETH</h5>
                                    <p class="mb-0 text-gray">Vol 0,432</p>
                                </div>
                            </div>
                            <div>
                                <span class="text-danger fw-bold">0.00950 </span>
                                <p class="mb-0">$1700</p>
                            </div>
                            <div>
                                <a href="tradingview.html" class="btn btn-success btn-sm">تجارت</a>
                            </div>
                        </div>
                    </li>
                    <li class="list-item mb-0 pb-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <img src="img/icons/binance.png" alt="coin image">
                                <div class="ms-3">
                                    <h5 class="coin-name">BNB</h5>
                                    <p class="mb-0 text-gray">Vol 0,432</p>
                                </div>
                            </div>
                            <div>
                                <span class="text-danger fw-bold">0.00950 </span>
                                <p class="mb-0">$260</p>
                            </div>
                            <div>
                                <a href="tradingview.html" class="btn btn-success btn-sm">تجارت</a>
                            </div>
                        </div>
                    </li>
                    <li class="list-item mb-0 pb-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <img src="img/icons/dash.png" alt="coin image">
                                <div class="ms-3">
                                    <h5 class="coin-name">Dash</h5>
                                    <p class="mb-0 text-gray">Vol 0,432</p>
                                </div>
                            </div>
                            <div>
                                <span class="text-success fw-bold">0.0346</span>
                                <p class="mb-0">$211</p>
                            </div>
                            <div>
                                <a href="tradingview.html" class="btn btn-success btn-sm">تجارت</a>
                            </div>
                        </div>
                    </li>
                    <li class="list-item mb-0 pb-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <img src="img/icons/litecoin.png" alt="coin image">
                                <div class="ms-3">
                                    <h5 class="coin-name">LTC</h5>
                                    <p class="mb-0 text-gray">Vol 0,301</p>
                                </div>
                            </div>
                            <div>
                                <span class="text-success fw-bold">0.0346</span>
                                <p class="mb-0">$500</p>
                            </div>
                            <div>
                                <a href="tradingview.html" class="btn btn-success btn-sm">تجارت</a>
                            </div>
                        </div>
                    </li>
                    <li class="list-item mb-0 pb-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <img src="img/icons/ripple.png" alt="coin image">
                                <div class="ms-3">
                                    <h5 class="coin-name">Ripple</h5>
                                    <p class="mb-0 text-gray">Vol 0,304</p>
                                </div>
                            </div>
                            <div>
                                <span class="text-success fw-bold">0.0346</span>
                                <p class="mb-0">$0.050</p>
                            </div>
                            <div>
                                <a href="tradingview.html" class="btn btn-success btn-sm">تجارت</a>
                            </div>
                        </div>
                    </li>
                    <li class="list-item mb-0 pb-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <img src="img/icons/chainlink.png" alt="coin image">
                                <div class="ms-3">
                                    <h5 class="coin-name">LINK</h5>
                                    <p class="mb-0 text-gray">Vol 0,104</p>
                                </div>
                            </div>
                            <div>
                                <span class="text-success fw-bold">0.0346</span>
                                <p class="mb-0">$0.150</p>
                            </div>
                            <div>
                                <a href="tradingview.html" class="btn btn-success btn-sm">تجارت</a>
                            </div>
                        </div>
                    </li>
                    <li class="list-item mb-0 pb-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <img src="img/icons/bitcoincash.png" alt="coin image">
                                <div class="ms-3">
                                    <h5 class="coin-name">BCH</h5>
                                    <p class="mb-0 text-gray">Vol 0,104</p>
                                </div>
                            </div>
                            <div>
                                <span class="text-danger fw-bold">0.0346</span>
                                <p class="mb-0">$0.190</p>
                            </div>
                            <div>
                                <a href="tradingview.html" class="btn btn-success btn-sm">تجارت</a>
                            </div>
                        </div>
                    </li>
                    <li class="list-item mb-0 pb-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <img src="img/icons/monero.png" alt="coin image">
                                <div class="ms-3">
                                    <h5 class="coin-name">XMR</h5>
                                    <p class="mb-0 text-gray">Vol 0,104</p>
                                </div>
                            </div>
                            <div>
                                <span class="text-danger fw-bold">0.0146</span>
                                <p class="mb-0">$0.090</p>
                            </div>
                            <div>
                                <a href="tradingview.html" class="btn btn-success btn-sm">تجارت</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
<!-- Footer Section-->

<!-- JQuery library file -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.jConveyorTicker.js"></script>
<script src="js/script.js"></script>
<script src="js/pwa.js"></script>
</body>
</html>