{% extends 'base_black.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include 'left_navbar1.html' %}
        <div class="col py-3 bg-light">

            <br><br>
            <div class="row">

                <div class="col-5"></div>
                <div class="col-2">
                    <h2 class="text-center">Create API</h2>
                    <br><br>
                    <p class="text-center">Creating an API private key provides access to markets and real-time trading
                        services
                        on Binance via a third-party site or application.Please complete KYC before creating API.</p>
                    <br>
                    <div class="col-xs-1">
                        <label class="form-label text-gray">Label API key to proceed</label>
                        <input type="text" class="form-control">
                        <br>
                        <div class="d-grid gap-2">
                            <button class="btn btn-warning" type="button">Create API</button>
                        </div>
                    </div>
                    <a href="#" data-bs-toggle="popover" title="Popover Header"
                       data-bs-content="Some content inside the popover"
                       style="color: darkgoldenrod; text-decoration: dotted;">Create
                        tax report API</a>
                    <br>
                    <a href="#" class="" style="color: darkgoldenrod; text-decoration: none;">View API documentation</a>
                    <br><br><br><br><br><br><br><br><br><br>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}