{% extends 'base_black.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row d-flex flex-wrap">
        {% include 'left_navbar2.html' %}
        <div class="col py-3 bg-white">
            <div class="container-fluid bg-light py-3">
                <div class="row">
                    <div class="col justify-content-start">
                        <h2>Funding</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col justify-content-start">
                        <p class="text-gray">Estimated Balance
                            <button class="btn-sm btn-light"><i class="bi-eye-slash-fill"></i>Hide Balance</button>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col justify-content-start">
                        <h2>0.00 BTC</h2>
                    </div>
                    <div class="col">
                        <button class="btn-secondary btn" style="margin-left: 1em">Pay</button>
                        <button class="btn-secondary btn" style="margin-left: 1em">Receive</button>
                        <button class="btn-secondary btn" style="margin-left: 1em">Transfer</button>
                        <a href="#" style="text-decoration: none; color: darkgoldenrod; margin-left: 1em;">Transaction
                            History</a>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="container-fluid bg-white">
                <br>
                <div class="row">
                    <div class="col">
                        <input type="text" name="" id="" placeholder="Search Coin" class="form-control">
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label text-gray" for="flexCheckDefault">
                                Hide 0 balance assets
                            </label>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col">
                        <div class="table-responsive">
                            <table id="coinTable" class="table table-hover" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Assets</th>
                                    <th>Total Amount</th>
                                    <th>Available</th>
                                    <th>Frozen</th>
                                    <th>BTC Value</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <p><b>BTC</b></p>
                                        <p style="line-height: 0.1; font-size: smaller;">Bitcoin</p>
                                    </td>
                                    <td>0.0000000</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>
                                        <p>0.00</p>
                                        <p style="line-height: 0.1;">≈ $0.00</p>
                                    </td>
                                    <td>
                                        <a href="#" style="text-decoration: none; color: darkgoldenrod;">Transfer</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><b>ETH</b></p>
                                        <p style="line-height: 0.1; font-size: smaller;">Ethereum</p>
                                    </td>
                                    <td>0.0000000</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>
                                        <p>0.00</p>
                                        <p style="line-height: 0.1;">≈ $0.00</p>
                                    </td>
                                    <td>
                                        <a href="#" style="text-decoration: none; color: darkgoldenrod;">Transfer</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><b>BNB</b></p>
                                        <p style="line-height: 0.1; font-size: smaller;">BNB</p>
                                    </td>
                                    <td>0.0000000</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>
                                        <p>0.00</p>
                                        <p style="line-height: 0.1;">≈ $0.00</p>
                                    </td>
                                    <td>
                                        <a href="#" style="text-decoration: none; color: darkgoldenrod;">Transfer</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}