{% load static %}
<footer>
    <div class="container-fluid p-5">
        <div class="row">
            <div class="col">
                <h5>About Us</h5>
                <p><a href="#" class="link-secondary">About</a></p>
                <p><a href="#" class="link-secondary">Careers</a></p>
                <p><a href="#" class="link-secondary">Business Contacts</a></p>
                <p><a href="#" class="link-secondary">Community</a></p>
                <p><a href="#" class="link-secondary">Jamejam Blog</a></p>
                <p><a href="#" class="link-secondary">Terms</a></p>
                <p><a href="#" class="link-secondary">Privacy</a></p>
                <p><a href="#" class="link-secondary">Announcements</a></p>
                <p><a href="#" class="link-secondary">News</a></p>
                <p><a href="#" class="link-secondary">Notices</a></p>
            </div>
            <div class="col">
                <h5>Products</h5>
                <p><a href="#" class="link-secondary">Exchange</a></p>
                <p><a href="#" class="link-secondary">Academy</a></p>
                <p><a href="#" class="link-secondary">BCF</a></p>
                <p><a href="#" class="link-secondary">Card</a></p>
                <p><a href="#" class="link-secondary">Labs</a></p>
                <p><a href="#" class="link-secondary">Launchpad</a></p>
                <p><a href="#" class="link-secondary">Research</a></p>
                <p><a href="#" class="link-secondary">Trust Wallet</a></p>
                <p><a href="#" class="link-secondary">NFT</a></p>
                <p><a href="#" class="link-secondary">Featured.market</a></p>
                <p><a href="#" class="link-secondary">Jamjam Pay</a></p>
            </div>
            <div class="col">
                <h5>Service</h5>
                <p><a href="#" class="link-secondary">Downloads</a></p>
                <p><a href="#" class="link-secondary">Desktop Application</a></p>
                <p><a href="#" class="link-secondary">Buy Crypto</a></p>
                <p><a href="#" class="link-secondary">Fees</a></p>
                <p><a href="#" class="link-secondary">Instituational Services</a></p>
                <p><a href="#" class="link-secondary">Referral</a></p>
                <p><a href="#" class="link-secondary">Affiliate</a></p>
                <p><a href="#" class="link-secondary">BNB</a></p>
                <p><a href="#" class="link-secondary">OTC Trading</a></p>
                <p><a href="#" class="link-secondary">Listing Application</a></p>
                <p><a href="#" class="link-secondary">Trading Rules</a></p>
                <p><a href="#" class="link-secondary">P2P Merchant Application</a></p>
                <p><a href="#" class="link-secondary">Historical Market Data</a></p>
            </div>
            <div class="col">
                <h5>Support</h5>
                <p><a href="#" class="link-secondary">Give Us Feedback</a></p>
                <p><a href="#" class="link-secondary">Support Center</a></p>
                <p><a href="#" class="link-secondary">Submit a request</a></p>
                <p><a href="#" class="link-secondary">API Documentation</a></p>
                <p><a href="#" class="link-secondary">Binance Verify</a></p>
                <p><a href="#" class="link-secondary">Law Enforcement Requests</a></p>
            </div>
            <div class="col">
                <h5>Learn</h5>
                <p><a href="#" class="link-secondary">Buy BNB</a></p>
                <p><a href="#" class="link-secondary">Buy BUSD</a></p>
                <p><a href="#" class="link-secondary">Buy Bitcoin</a></p>
                <p><a href="#" class="link-secondary">Buy Ethereum</a></p>
                <p><a href="#" class="link-secondary">Buy Litecoin</a></p>
                <p><a href="#" class="link-secondary">Buy Ripple</a></p>
                <p><a href="#" class="link-secondary">Buy Bitcoin Cash</a></p>
                <p><a href="#" class="link-secondary">Buy Dogecoin</a></p>
                <p><a href="#" class="link-secondary">Buy Defi</a></p>
                <p><a href="#" class="link-secondary">Buy SHIB</a></p>
                <p><a href="#" class="link-secondary">Buy Tradeable Altcoins</a></p>
            </div>
            <div class="col">
                <h5>Community</h5>
                <div class="container">
                    <div class="row p-2">
                        <div class="col-3">
                            <img src="{% static 'assets/img/logos/telegram.svg' %}" width="24px">
                        </div>
                        <div class="col-3">
                            <img src="{% static '/assets/img/logos/facebook-circular-logo.svg' %}" width="24px">
                        </div>
                        <div class="col-3">
                            <img src="{% static '/assets/img/logos/twitter.svg' %}" width="24px">
                        </div>
                        <div class="col-3">
                            <img src="{% static '/assets/img/logos/reddit.svg' %}" width="24px">
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-3">
                            <img src="{% static '/assets/img/logos/youtube.svg' %}" width="24px">
                        </div>
                        <div class="col-3">
                            <img src="{% static '/assets/img/logos/skype.svg' %}" width="24px">
                        </div>
                        <div class="col-3">
                            <img src="{% static '/assets/img/logos/instagram.svg' %}" width="24px">
                        </div>
                        <div class="col-3">
                            <img src="{% static 'assets/img/logos/linkedin.svg' %}" width="24px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="text-center text-secondary">
            Jamejam &copy; 2021
        </div>
    </div>
</footer>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
</script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
  -->
</body>

</html>