 <footer class="container-fluid">
    <div class="row bg-dark text-white footer-div-row">
      <div class="col footer-div-col">
        <p class="footer-p">About Us</p>
        <ul class="list-unstyled footer-ul">
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">About</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Careers</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Business Contacts</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Community</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Binance Blog</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Terms</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Privacy</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Announcements</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">News</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Notices</a></li>
        </ul>
      </div>

      <div class="col footer-div-col">
        <p class="footer-p">Products</p>
        <ul class="list-unstyled footer-ul">
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Exchange</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Academy</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">BCF</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Card</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Labs</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Launchpad</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Research</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Trust Wallet</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">NFT</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Featured.market</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Binance Pay</a></li>
        </ul>
      </div>

      <div class="col footer-div-col">
        <p class="footer-p">Service</p>
        <ul class="list-unstyled footer-ul">
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Downloads</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Desktop Application</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Buy Crypto</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Fees</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">institutional Services</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Referral</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Affiliate</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">BNB</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">OTC Trading</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Listing Application</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Trading Rules</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a"><a href="#" style="color: #bfbfbf; text-decoration: none; font-size: 13.5px">P2P Merchant Application</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a"><a href="#" style="color: #bfbfbf; text-decoration: none; font-size: 13.5px">Historical Market Data</a></li>
        </ul>
      </div>

      <div class="col footer-div-col">
        <p class="footer-p">Support</p>
        <ul class="list-unstyled footer-ul">
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Give Us Feedback</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Support Center</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Submit a request</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">API Documentation</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Binance Verify</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Law Enforcement Requests</a></li>
        </ul>
      </div>

      <div class="col footer-div-col">
        <p class="footer-p">Learn</p>
        <ul class="list-unstyled footer-ul">
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Buy BNB</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Buy BUSD</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Buy Bitcoin</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Buy Ethereum</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Buy Litecoin</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Buy Ripple</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Buy Bitcoin Cash</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Buy Dogecoin</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Buy DeFi</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Buy SHIB</a></li>
          <li class="text-secondary footer-li"><a href="#" class="text-secondary footer-a">Buy Tradable Altcoins</a></li>
        </ul>
      </div>

      <div class="col footer-div-col">
        <p class="footer-p">Community</p>
      </div>
      <div class="bg-dark text-secondary footer-copyright">
          <hr>
      Jamejam © 2021</div>
    </div>
  </footer>
</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>
  </body>
</html>
