<div class="col-auto col-md-3 col-xl-1 px-sm-0 px-0 bg-white" style="width: 15%">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-black min-vh-100">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a href="/dashboard" class="nav-link align-middle px-0">
                    <i class="fs-4 bi-person icon-yellow"></i> <span class="ms-1 d-none d-sm-inline text-black">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/payment/c2c" class="nav-link align-middle px-0">
                    <i class="fs-4 bi-cash-coin icon-yellow"></i> <span
                        class="ms-1 d-none d-sm-inline text-black">Payment</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/security" class="nav-link align-middle px-0">
                    <i class="fs-4 bi-key icon-yellow"></i> <span
                        class="ms-1 d-none d-sm-inline text-black">Security</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/coupon" class="nav-link align-middle px-0">
                    <i class="fs-4 bi-card-checklist icon-yellow"></i> <span
                        class="ms-1 d-none d-sm-inline text-black">Reward Center</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/tasks" class="nav-link align-middle px-0">
                    <i class="fs-4 bi-clipboard icon-yellow" icon-yellow></i> <span
                        class="ms-1 d-none d-sm-inline text-black">Task Center </span>
                </a>
            </li>
            <li>
                <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                    <i class="fs-4 bi-gear icon-yellow"></i> <span
                        class="ms-1 d-none d-sm-inline text-black">Settings</span></a>
                <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                    <li class="w-100">
                        <a href="/profile" class="nav-link px-0"> <span class="d-none d-sm-inline text-black">Basic Info</span></a>
                    </li>
                    <li>
                        <a href="/api-management" class="nav-link px-0"> <span
                                class="d-none d-sm-inline text-black">API Management</span></a>
                    </li>
                    <li>
                        <a href="/preferences" class="nav-link px-0"> <span
                                class="d-none d-sm-inline text-black">Preferences</span></a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="/referral" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-people icon-yellow"></i> <span
                        class="ms-1 d-none d-sm-inline text-black">Referral</span>
                </a>
            </li>
        </ul>
    </div>
</div>