<div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 px-sm-0 px-0 bg-white">
    <div class="d-flex align-items-center align-items-sm-start px-3 pt-2 text-black ">
        <ul class="nav nav-pills nav-stacked flex-column " id="menu">
            <li class="nav-item">
                <a href="/wallet" class="nav-link align-middle px-0">
                    <i class="fs-4 bi-person icon-yellow"></i> <span
                        class="ms-1 text-black">Overview</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/spot" class="nav-link align-middle px-0">
                    <i class="fs-4 bi-clipboard icon-yellow"></i> <span
                        class="ms-1  text-black">Fiat and Spot</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/margin" class="nav-link align-middle px-0">
                    <i class="fs-4 bi-clipboard icon-yellow"></i> <span
                        class="ms-1 text-black">Margin</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/futures" class="nav-link align-middle px-0">
                    <i class="fs-4 bi-card-checklist icon-yellow"></i> <span
                        class="ms-1 text-black">Futures</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/funding" class="nav-link align-middle px-0">
                    <i class="fs-4 bi-cash-coin icon-yellow"></i> <span
                        class="ms-1 text-black">Funding</span>
                </a>
            </li>
            <li>
                <a href="/earn" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-cash-coin icon-yellow"></i> <span
                        class="ms-1 text-black">Earn</span>
                </a>
            </li>
            <li>
                <a href="/pool" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-clipboard icon-yellow"></i> <span
                        class="ms-1 text-black">Pool</span>
                </a>
            </li>

            <li>
                <a href="/vanilla" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-card-checklist icon-yellow"></i> <span
                        class="ms-1 text-black">Vanilla Options</span>
                </a>
            </li>

            <li class="border-top my-2"></li>

            <li>
                <a href="/jex" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-clipboard icon-yellow"></i> <span
                        class="ms-1 text-black">JEX</span>
                </a>
            </li>
            <li>
                <a href="/wazirx" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-clipboard icon-yellow"></i> <span
                        class="ms-1 text-black">WazirX</span>
                </a>
            </li>
            <li>
                <a href="/binancetr" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-clipboard icon-yellow"></i> <span
                        class="ms-1 text-black">Binance TR</span>
                </a>
            </li>
            <li>
                <a href="/tokyocrypto" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-clipboard icon-yellow"></i> <span
                        class="ms-1 text-black">Tokyo Crypto</span>
                </a>
            </li>
            <li class="border-top my-2"></li>
            <li>
                <a href="/history" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-clipboard icon-yellow"></i> <span
                        class="ms-1  text-black">Transaction History</span>
                </a>
            </li>
        </ul>
    </div>
</div>